doctype html
html
  head
    title Iestyn Williams
    meta(name='description', content='A web designer and developer based in Cardiff, Wales')

    meta(name='viewport', content='width=device-width, initial-scale=1')


    link(rel='stylesheet', href='/styles.css')
    link(rel='stylesheet', href='/ico-embedded.css')

    script(type='text/javascript', src='/scripts.js')
    //- script(src='http://over9000.local:35729/livereload.js')

    script.
        (function(d) {
          var config = {
            kitId: 'hxz2cxx',
            scriptTimeout: 2000
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);


  body
    .grid.container
      header
        a(href='/').logo
          include includes/logo
          h1 Iestyn Williams
        nav
          ul
            li: a.btn(href='http://twitter.com/_iest'): i.icon-twitter
            li: a.btn(href='http://github.com/iest/'): i.icon-github-circled
            li: a.btn(href='http://dribbble.com/iest'): i.icon-dribbble

    .grid
      block content

    footer
      .grid.container
        .grid__col--50.tal
          script.
            //<![CDATA[
            <!--
            var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
            "=49){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
            ".substr(0,ol);}f(\")501,\\\"|v~ma| o300\\\\V^ITN130\\\\V^620\\\\AQt220\\\\7" +
            "10\\\\Y000\\\\220\\\\320\\\\310\\\\GCHEn\\\\HJGJ500\\\\430\\\\Sl771\\\\q771" +
            "\\\\;s%&0{zw=w|P{}he1e}dngh#>ddr620\\\\]530\\\\GXQ620\\\\330\\\\320\\\\100\\"+
            "\\530\\\\100\\\\500\\\\_400\\\\100\\\\310\\\\000\\\\130\\\\010\\\\500\\\\r\\"+
            "\\\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y{)+" +
            "+i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"               ;
            while(x=eval(x));
            //-->
            //]]>




        .grid__col--50.tar
          :markdown
            &copy; Copyright Iestyn Williams #{new Date().getFullYear()}

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-24933644-1', 'iestynwilliams.net');
      ga('send', 'pageview');